.character-select-screen {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  height: calc(100vh - 60px);
}

.selected-character-container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.character-select-container {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-direction: column;
  grid-column: 2;
}

.character-name-window {
  background-image: url("src/assets/interface/bar_large.png");
  background-size: cover;
  background-repeat: no-repeat;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 462px;
  height: 126px;
  margin-bottom: 20px;
}

.character-select-section {
  display: flex;
  align-items: center;
  justify-content: center;
}

.arrow-left {
  width: 72px;
  height: 91px;
  margin-right: 50px;
  cursor: pointer;
}

.arrow-left:active {
  transform: scale(0.94);
}

.arrow-right {
  width: 72px;
  height: 91px;
  margin-left: 50px;
  cursor: pointer;
}

.arrow-right:active {
  transform: scale(0.94);
}

.character-window {
  background-image: url("src/assets/interface/window_character_selection.png");
  background-size: cover;
  background-repeat: no-repeat;
  display: flex;
  align-items: flex-end;
  justify-content: center;
  width: 325px;
  height: 503px;
}

.select-character-button {
  background-image: url("src/assets/interface/bar_medium.png");
  background-size: cover;
  background-repeat: no-repeat;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 462px;
  height: 126px;
  margin-top: 20px;
  user-select: none;
  cursor: pointer;
}

.select-character-button:active {
  transform: scale(0.94);
}

.instructions-message {
  margin-top: 0px;
}

h1 {
  font-size: 56px;
  font-weight: bold;
  font-family: "Micro 5", sans-serif;
  color: #242424;
  text-shadow: #fc0 1px 0 10px;
}

/* Styles for fading components in and out */
.fade-enter {
  opacity: 0;
}

.fade-enter-active {
  opacity: 1;
  transition: opacity 3000ms ease-in;
}

.fade-exit {
  opacity: 1;
}

.fade-exit-active {
  opacity: 0;
  transition: opacity 0ms ease-out;
}
