.game-container {
  border: 2px solid purple;
  display: flex;
  flex-direction: column;
  height: calc(100vh - 60px);

  /* justify-content: center; */
  /* align-items: flex-start; */

  background-image: url("../assets/tiles/background_castle _notransp.png"),
    url("../assets\tiles\infinite_sunset.png");
  background-repeat: no-repeat, repeat-x;
  background-size: cover, 1864px;
  animation: slideRight 50s infinite linear;
}

.monsters-container {
  display: flex;
  justify-content: center;
}

.speech-bubbles-container {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin-top: auto;
}

.wizardSpeechBubble {
  resize: none;
  position: absolute;
  width: 260px;
  height: 34px;
  top: 2px;
  border: none;
  outline: none;
  background-color: transparent;
  overflow: hidden;
  font-family: cursive;
  font-weight: bold;
}

.checkmark-left {
  position: absolute;
  left: -8px;
  top: 45px;
  cursor: pointer;
  font-size: 20px;
  user-select: none;
}

.checkmark-left:active {
  transform: scale(0.9);
}

.crossmark-left {
  position: absolute;
  left: 14px;
  top: 45px;
  cursor: pointer;
  font-size: 20px;
  user-select: none;
}

.crossmark-left:active {
  transform: scale(0.9);
}

.confirm-left {
  position: absolute;
  left: 160px;
  top: 70px;
  cursor: pointer;
  user-select: none;
  animation: quillMotionLeft 2s linear infinite;
}

.confirm-left:active {
  transform: scale(0.9);
  animation: none;
}

.checkmark-right {
  position: absolute;
  right: 14px;
  top: 45px;
  cursor: pointer;
  font-size: 20px;
  user-select: none;
}

.checkmark-right:active {
  transform: scale(0.9);
}

.crossmark-right {
  position: absolute;
  right: -8px;
  top: 45px;
  cursor: pointer;
  font-size: 20px;
  user-select: none;
}

.crossmark-right:active {
  transform: scale(0.9);
}

.confirm-right {
  position: absolute;
  right: 140px;
  top: 70px;
  cursor: pointer;
  user-select: none;
  animation: quillMotionRight 2s linear infinite;
}

.confirm-right:active {
  transform: scaleX(-1) scale(0.9);
  animation: none;
}

.characters-container {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  margin-bottom: 3rem;
}

.menu-btn {
  position: absolute;
  right: 0px;
  margin-right: 3%;
  margin-top: 1%;
}

@keyframes slideRight {
  0% {
    background-position: center, left;
  }
  100% {
    background-position: center, 1864px;
  }
}

@keyframes quillMotionLeft {
  0% {
    transform: translate(0px, 0px);
  }
  50% {
    transform: translate(0px, 15px);
  }
  100% {
    transform: translate(0px, 0px);
  }
}

@keyframes quillMotionRight {
  0% {
    transform: translate(0px, 0px) scaleX(-1);
  }
  50% {
    transform: translate(0px, 15px) scaleX(-1);
  }
  100% {
    transform: translate(0px, 0px) scaleX(-1);
  }
}
