.menu-btn-memory {
  position: absolute;
  right: 0px;
  margin-right: 3%;
  bottom: 0px;
  margin-bottom: 1%;
  cursor: pointer;
}

.game-memory-container {
  display: flex;
  justify-content: center;
  text-align: center;
  align-items: center;
  height: calc(100vh - 60px);
}

.game-memory-grid {
  display: grid;
  grid-gap: 3px;
  grid-template-columns: repeat(4, 168px);
  grid-template-rows: repeat(4, 172px);
}

.card {
  background-image: url("..\assets\memory\card_flipped.png");
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: cursive;
  font-size: 13px;
  font-weight: bold;
  flex-direction: column;
  user-select: none;
}

.face-down-card {
  background-image: url("..\assets\memory\card_front.png");
}

.translation {
  flex: 0 1 auto;
}

.german-container {
  align-self: flex-start;
  margin-right: auto;
}

.flag-ger {
  width: 250px;
  height: 150px;
}

.prev-games-grid {
  display: grid;
  grid-template-columns: repeat(1, 250px);
  grid-template-rows: repeat(5, 80px);
  margin-top: 40px;
}

.prev-game-details {
  background-image: url("..\assets\interface\bar_large.png");
  background-repeat: no-repeat;
  background-size: contain;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: cursive;
  font-size: 13px;
  font-weight: bold;
  flex-direction: column;
  color: orange;
}

.flag-ger:active {
  transform: scale(0.98);
}

.greek-container {
  align-self: flex-start;
  margin-left: auto;
}

.flag-gr {
  width: 250px;
  height: 150px;
}

.flag-gr:active {
  transform: scale(0.98);
}

.mismatch-counter {
  font-size: 30px;
  font-family: cursive;
  font-weight: bold;
  color: orange;
}
