/* img:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
} */

/* Styles for fading components in and out */
.fade-enter {
  opacity: 0;
}

.fade-enter-active {
  opacity: 1;
  transition: opacity 3000ms ease-in;
}

.fade-exit {
  opacity: 1;
}

.fade-exit-active {
  opacity: 0;
  transition: opacity 0ms ease-out;
}
